# Facebook Comments Scrapping

In [1]:
import pandas as pd
import re
import numpy as np

In [2]:

def parse_facebook_comments(file_path):
    """
    Processes the raw text from a file containing a copied Facebook post 
    to extract structured comments into a list of dictionaries.
    
    Args:
        file_path (str): The path to the text file containing the copied Facebook data.
        
    Returns:
        list: A list of dictionaries containing 'Author', 'Comment', and 'Timestamp'.
    """
    
    # Read file content inside the function
    try:
        with open(file_path, 'r', encoding='utf-8') as f:
            raw_text = f.read()
    except FileNotFoundError:
        print(f"Error: The file '{file_path}' was not found.")
        return []

    # 1. First try to use the unique repeated "Facebook" lines as the start marker.
    FACEBOOK_SPAM_BLOCK = "Facebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook\nFacebook"
    comment_start_index = raw_text.find(FACEBOOK_SPAM_BLOCK)
    
    if comment_start_index == -1:
        # Fallback 1: Try finding "B√¨nh lu·∫≠n" after the main post content marker ("v·∫•n ƒë·ªÅ b·∫£n quy·ªÅn")
        post_content_start_phrase = "v·∫•n ƒë·ªÅ b·∫£n quy·ªÅn"
        post_start_index = raw_text.find(post_content_start_phrase)
        
        if post_start_index != -1:
            search_area = raw_text[post_start_index:]
        else:
            search_area = raw_text
            
        comment_marker_index = search_area.find("B√¨nh lu·∫≠n")
        
        if comment_marker_index == -1:
            print("Error: Could not find a reliable start marker for the 'B√¨nh lu·∫≠n' section.")
            return []

        absolute_comment_start_index = post_start_index + comment_marker_index
        comment_text = raw_text[absolute_comment_start_index + len("B√¨nh lu·∫≠n"):].strip()
    else:
        # If the new block is found, start immediately after it.
        comment_text = raw_text[comment_start_index + len(FACEBOOK_SPAM_BLOCK):].strip()


    # 2. Split the text into blocks based on the action buttons or double newlines.
    blocks = re.split(r'\nTr·∫£ l·ªùi\nChia s·∫ª|\nTr·∫£ l·ªùi\n\n|\nƒê√£ ch·ªânh s·ª≠a\nTr·∫£ l·ªùi\nChia s·∫ª|\nTr·∫£ l·ªùi\n|\nChia s·∫ª', comment_text)
    
    parsed_comments = []

    # 3. Define the core regex pattern for extraction within each block.
    comment_pattern = re.compile(
        r'(.+?)\n\s*'  # 1. Capture Author Name
        r'(.+?)'        # 2. Capture Comment Content
        r'(\d+ (?:tu·∫ßn|ng√†y|ph√∫t)|\d+ (?:gi·ªù|ph√∫t)|\d+ [0-9]{1,2} [0-9]{4})' # 3. Capture Time/Date
        , re.DOTALL
    )

    for block in blocks:
        block = block.strip()
        if not block:
            continue
        
        match = comment_pattern.search(block)
        
        if match:
            author_raw = match.group(1).strip()
            time_stamp = match.group(3).strip()
            content = match.group(2).strip()

            # --- Clean-up Steps ---
            content = re.sub(r'\.\.\. Xem th√™m', '', content, flags=re.DOTALL).strip()
            
            author_lines = author_raw.split('\n')
            author = author_lines[0].strip()
            
            # Remove any special role tags from the author line
            author = re.sub(r'Ng∆∞·ªùi ƒë√≥ng g√≥p nhi·ªÅu nh·∫•t|T√°c gi·∫£', '', author).strip()

            # Re-join any content that got split into the Author's raw field
            if len(author_lines) > 1:
                content_start_lines = author_lines[1:]
                content = '\n'.join(content_start_lines) + '\n' + content
                
            if len(content) < 5:
                continue
            
            parsed_comments.append({
                'Author': author,
                'Comment': content,
                'Timestamp': time_stamp
            })

    return parsed_comments

In [3]:
post1 = parse_facebook_comments('fb_post1.txt')

if post1:
    df_comments = pd.DataFrame(post1)
    
    # Final Cleaning
    df_comments['Comment'] = df_comments['Comment'].str.replace(r'[\r\n\t]+', ' ', regex=True).str.strip()
    df_comments.drop_duplicates(subset=['Comment'], keep='first', inplace=True)
    df_comments = df_comments[df_comments['Comment'].str.len() > 10].reset_index(drop=True)
    
    print("\n--- SUCCESSFULLY PARSED COMMENTS ---")
    print(f"Total Comments Extracted: {len(df_comments)}")
    print("\nDataFrame Preview:")
    print(df_comments.head(10).to_markdown(index=False))

    # df_comments.to_csv('cleaned_facebook_comments.csv', index=False, encoding='utf-8')
else:
    print("\nParsing failed. Please check the content of 'comments.txt' to ensure the structure is consistent.")

--- SUCCESSFULLY PARSED COMMENTS ---
Total Comments Extracted: 60

DataFrame Preview:
| Author         | Comment                                                                                                                                                                                                                                                                                                               | Timestamp   |
|:---------------|:----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:------------|
| Th·∫±ng ƒê·∫ßu L√¨n  | Kh√¥ng ph·ªß nh·∫≠n nhi·ªÅu ƒë·ª©a trong n√†y t·ª´ng coi l·∫≠u nhi·ªÅu k·ªÉ c·∫£ tao h·ªìi ƒë√≥. Gi·ªù l√∫c coi b·ªô manga y√™u th√≠ch n√†o ƒë√≥ t cx mu·ªën mua h√†ng ·ªßng h·ªô t√°c gi·∫£ c∆°                                                                                                                                                                    | 1 tu·∫ßn      |
| Quang Ki·ªám     | L·∫≠u l√† l·∫≠u. M√¨nh kh√¥ng c√≥ ti·ªÅn/ƒëi·ªÅu ki·ªán/c√°ch bi·ªát ng√¥n ng·ªØ n√™n m√¨nh ƒë·ªçc l·∫≠u, c·ª© nh·∫≠n th√¥i, c·ª© ph·∫£i v·∫Ω ra l√≠ do l√†m g√¨, ƒë·ªÉ l·∫≠u nh∆∞ng nghe th√¥ng c·∫£m h∆°n √† üòã                                                                                                                                                          | 1 tu·∫ßn      |
| Van Anh Pham   | T ch∆°i game l·∫≠u khi ch∆∞a c√≥ ti·ªÅn c√≤n khi c√≥ ƒëi·ªÅu ki·ªán tui mua game tr√™n steam, truy·ªán cx v·∫≠y t mua b·∫£n gi·∫•y c·ªßa n√≥ lu√¥n n·∫øu ƒë√≥ l√† 1 b·ªô tui th√≠ch                                                                                                                                                                      | 1 tu·∫ßn      |
| Uy√™n Nh√£       | B·ªè ti·ªÅn ra mua truy·ªán ·ªßng h·ªô b·∫£n quy·ªÅn v√† t·ª´ng b·ªã v√†i ƒë·ª©a ch·ª≠i ngu üòÉ t√≠nh ra nhi·ªÅu ƒë·ª©a ƒë·ªçc l·∫≠u n·∫øt th∆∞·ª£ng ƒë·∫≥ng th·∫≠t ch·ª© b√™n ƒë·ªçc truy·ªán b·∫£n quy·ªÅn th√¨ ch∆∞a th·∫•y gi·ªü gi·ªçng bao gi·ªù                                                                                                                                     | 1 tu·∫ßn      |
| Nguy·ªÖn Minh V≈© | Uy√™n Nh√£ ng∆∞·ªùi c√≥ ƒë·ªß c·∫£ ti·ªÅn v√† √Ω th·ª©c ƒë·ªÉ mua h√†ng b·∫£n quy·ªÅn th√¨ t·∫•t nhi√™n ko ƒë·ªß c√°i ngu ƒë·ªÉ th∆∞·ª£ng ƒë·∫≥ng :))                                                                                                                                                                                                           | 6 ng√†y      |
| Ph√πng B·∫£o      | ƒê·ªçc l·∫≠u th√¨ c·ª© nh·∫≠n lu√¥n l√† t ngh√®o ho·∫∑c ko ƒëi mua h√†ng th·∫≠t (c√≥ b·∫£n d·ªãch) ƒëc ƒëi, ch·ª© nhi·ªÅu ko hi·ªÉu sao nhi·ªÅu kh·ª©a th·ª±c s·ª± th·ªÉ hi·ªán s·ª± th∆∞·ª£ng ƒë·∫≥ng khi m√¨nh vi ph·∫°m ph√°p lu·∫≠t?                                                                                                                                        | 1 tu·∫ßn      |
| ƒê√£ ch·ªânh s·ª≠a   | Phu Khang Tran Ng∆∞·ªùi ƒë√≥ng g√≥p nhi·ªÅu nh·∫•t Ph√πng B·∫£o , ch·∫Øc ch∆∞a? Ch·∫Øc l√† ngh√®o v·ªõi kh√¥ng ƒëi mua h√†ng th·∫≠t ƒë∆∞·ª£c ch∆∞a? C√≥ h√†ng d·ªãch b·∫£n quy·ªÅn kh√¥ng m√† n√≥i n√®?                                                                                                                                                           | 1 tu·∫ßn      |
| Ph√πng B·∫£o      | Phu Khang Tran :V Uh th√¨ "kh√¥ng mua ƒëc h√†ng th·∫≠t" m·ªü r·ªông th√™m t√≠ nghƒ©a th√¥i, th√†nh "kh√¥ng mua ƒëc h√†ng th·∫≠t c√≥ b·∫£n d·ªãch".                                                                                                                                                                                             | 1 tu·∫ßn      |
| Phu Khang Tran | Ng∆∞·ªùi ƒë√≥ng g√≥p nhi·ªÅu nh·∫•t Ph√πng B·∫£o , mua b·∫£n g·ªëc Nh·∫≠t, mua b·∫£n d·ªãch Anh, mua b·∫£n d·ªãch Vi·ªát, t√¥i ƒë·ªÅu mua r·ªìi nh√©. Nh∆∞ng r·ªìi nh·ªØng truy·ªán mu·ªën ƒë·ªçc b·∫£n d·ªãch, Anh hay Vi·ªát d·ªãch ch·∫≠m √≠t th√¨ c≈©ng n·ª≠a nƒÉm, nhi·ªÅu c≈©ng 5, 10 nƒÉm. ƒê·ªát. Kh√¥ng xem l·∫≠u v·ªõi mua b·∫£n g·ªëc th√¨ b·∫£n d·ªãch b·∫£n quy·ªÅn c√≥ mo·∫π g√¨ ƒë√¢u m√† l√™n gi·ªçng :V | 1 tu·∫ßn      |
| Ph√πng B·∫£o      | Phu Khang Tran Th√¨ t√¥i ƒë√¢u c√≥ n√≥i l√† b·∫£n quy·ªÅn d·ªãch Vi·ªát t·ªët h∆°n ƒë√¢u. T√¥i ch·ªâ n√≥i l·∫≠u th√¨ th√¥i m√¨nh be b√© c√°i mi·ªáng l·∫°i, b·∫£n ch·∫•t vi·ªác m√¨nh l√†m l√† vi ph·∫°m th√¨ n√≥ ch·∫£ c√≥ g√¨ hay ho c·∫£.                                                                                                                                | 1 tu·∫ßn      |

## Translate to English

an open-source pretrained <b>Large Vision Model</b> from <a href='https://ollama.com'>Ollama</a>

#### Using Ollama (https://ollama.com/library/llava)

Download the official executable file from https://ollama.com/download

In [4]:
# Install the LLM for Natural LAnguage Processing model locally
!ollama pull mistral

pulling manifest ‚†ã pulling manifest ‚†ô pulling manifest ‚†π pulling manifest ‚†∏ pulling manifest ‚†º pulling manifest ‚†¥ pulling manifest
pulling f5074b1221da: 100% ‚ñï‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè 4.4 GB
pulling 43070e2d4e53: 100% ‚ñï‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè  11 KB
pulling 1ff5b64b61b9: 100% ‚ñï‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè  799 B
pulling ed11eda7790d: 100% ‚ñï‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè   30 B
pulling 1064e17101bd: 100% ‚ñï‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè  487 B
verifying sha256 digest
writing manifest
success

In [5]:
# Check if Ollama is running, should be error:  address already in use
!ollama serve

Error: listen tcp 127.0.0.1:11434: bind: address already in use

In [6]:
import re
import json
import pandas as pd
import requests
from tqdm import tqdm

# --- CONFIGURATION ---
INPUT_FILE_NAME = 'comments.txt'
OLLAMA_API_URL = 'http://localhost:11434/api/generate'
OLLAMA_MODEL = 'llama3' 

def translate_text_with_ollama(text):
    """
    Sends text to the local Ollama Llama 3 API for translation.
    
    Args:
        text (str): The Vietnamese text to translate.
        
    Returns:
        str: The English translation or an error message.
    """
    if not text or len(text.strip()) < 5:
        return ""

    # prompt = f"Translate the following Vietnamese social media comment to natural, modern English. Be concise and provide only the translated text: {text}"
    prompt = f"Translate the following Vietnamese text to English, provides only the translated text: {text}"
    
    payload = {
        "model": OLLAMA_MODEL,
        "prompt": prompt,
        "stream": False,
        "options": {
            "temperature": 0.1 # Low temperature for accurate, literal translation
        }
    }
    
    try:
        response = requests.post(OLLAMA_API_URL, json=payload, timeout=30)
        response.raise_for_status()
        
        # Ollama returns a JSON response; the generated text is under 'response'
        data = response.json()
        translated_text = data.get('response', '').strip()
        
        # Clean up common LLM output formatting (like unnecessary quotes or labels)
        if translated_text.startswith(('"', "'")) and translated_text.endswith(('"', "'")):
            translated_text = translated_text[1:-1]
        
        return translated_text
        
    except requests.exceptions.Timeout:
        return "ERROR: Ollama API Timeout"
    except requests.exceptions.RequestException as e:
        return f"ERROR: Ollama connection failed or server error. Check if Ollama is running: {e}"
    except Exception as e:
        return f"ERROR: Unknown API issue: {e}"

In [7]:
df_comments.head()

           Author                                            Comment Timestamp
0   Th·∫±ng ƒê·∫ßu L√¨n  Kh√¥ng ph·ªß nh·∫≠n nhi·ªÅu ƒë·ª©a trong n√†y t·ª´ng coi l·∫≠...    1 tu·∫ßn
1      Quang Ki·ªám  L·∫≠u l√† l·∫≠u. M√¨nh kh√¥ng c√≥ ti·ªÅn/ƒëi·ªÅu ki·ªán/c√°ch ...    1 tu·∫ßn
2    Van Anh Pham  T ch∆°i game l·∫≠u khi ch∆∞a c√≥ ti·ªÅn c√≤n khi c√≥ ƒëi...    1 tu·∫ßn
3        Uy√™n Nh√£  B·ªè ti·ªÅn ra mua truy·ªán ·ªßng h·ªô b·∫£n quy·ªÅn v√† t·ª´ng...    1 tu·∫ßn
4  Nguy·ªÖn Minh V≈©  Uy√™n Nh√£ ng∆∞·ªùi c√≥ ƒë·ªß c·∫£ ti·ªÅn v√† √Ω th·ª©c ƒë·ªÉ mua ...    6 ng√†y

In [8]:
translate_text_with_ollama(df_comments.loc[0, 'Comment'])

"I don't deny that many of them used to watch pirated content, including me back then. Now when I want to buy and support the author of my favorite manga series."

In [9]:
# translate extracted comments and add to column of df_comments
translated_cmt = [translate_text_with_ollama(c) for c in df_comments.loc[:, 'Comment']]
df_comments.loc[:, 'translated_cmt'] = translated_cmt

In [10]:
df_comments.head()

,Author,Comment,Timestamp,translated_cmt
0,Th·∫±ng ƒê·∫ßu L√¨n,Kh√¥ng ph·ªß nh·∫≠n nhi·ªÅu ƒë·ª©a trong n√†y t·ª´ng coi l·∫≠...,1 tu·∫ßn,I don't deny that many of them used to watch p...
1,Quang Ki·ªám,L·∫≠u l√† l·∫≠u. M√¨nh kh√¥ng c√≥ ti·ªÅn/ƒëi·ªÅu ki·ªán/c√°ch ...,1 tu·∫ßn,I'm a pirate. I don't have money/language cond...
2,Van Anh Pham,T ch∆°i game l·∫≠u khi ch∆∞a c√≥ ti·ªÅn c√≤n khi c√≥ ƒëi...,1 tu·∫ßn,"Here is the translation:\n\n""I play pirated ga..."
3,Uy√™n Nh√£,B·ªè ti·ªÅn ra mua truy·ªán ·ªßng h·ªô b·∫£n quy·ªÅn v√† t·ª´ng...,1 tu·∫ßn,"Here is the translation:\n\n""I spent money to ..."
4,Nguy·ªÖn Minh V≈©,Uy√™n Nh√£ ng∆∞·ªùi c√≥ ƒë·ªß c·∫£ ti·ªÅn v√† √Ω th·ª©c ƒë·ªÉ mua ...,6 ng√†y,"Here is the translation:\n\n""Uyen Nha has enou..."

# Official Publisher Selling Data

<a href='https://en.wikipedia.org/wiki/Kim_ƒê·ªìng_Publishing_House'><b>Kim ƒê·ªìng Publishing House</b></a> has been a leading publisher in Vietnam since its establishment in 1957. The company recently acquired licenses for many popular Japanese comic books (manga) and sells them on <b>Shopee</b>, a major e-commerce marketplace in Southeast Asia similar to <b>Amazon</b>. This makes their sales data a reliable source for our market analysis.

Unfortunately, direct data crawling from their online store is restricted, which significantly complicated the extraction process. To circumvent this technical barrier and leverage a robust tool, I utilized the <b>Google AI Studio</b> freetier for API requests. This strategy allowed me to capture screenshots of the sales listings and then use the Gemini API to accurately extract the necessary information.

## Gemini Free-tier API

Google AI Studio gives a free tier API call for Gemini Flash model which is truly effective for images extraction tasks for about 100 images per day. That's enough for this project

In [11]:
import requests
import json
import base64
import os
import sys
import pandas as pd
from typing import Tuple, Optional, Any, Dict, List
import time
from gemini_api_key import GEMINI_KEY


apiKey = GEMINI_KEY 
MODEL_NAME = "gemini-2.5-flash-preview-05-20" 
API_URL = f"https://generativelanguage.googleapis.com/v1beta/models/{MODEL_NAME}:generateContent?key={apiKey}"


# 1. Image Encoding Function (Required for API submission)
def encode_image_to_base64(image_path: str) -> Optional[str]:
    """Encodes the image file into a Base64 string for the API payload."""
    try:
        with open(image_path, "rb") as f:
            print("Image encoded successfully.")
            return base64.b64encode(f.read()).decode('utf-8')
    except FileNotFoundError:
        print(f"Error: Image file not found at path: {image_path}")
        return None
    except Exception as e:
        print(f"Error reading image file: {e}")
        return None
    
    
# 2. Gemini Extraction Function
def extract_structured_data_gemini(base64_image: str) -> Tuple[Optional[List[Dict[str, Any]]], Optional[str]]:
    """
    Sends the image and prompt to the Gemini API, requesting structured JSON output.
    Uses exponential backoff for robustness.
    """
    
    # UPDATED STRUCTURED EXTRACTION PROMPT: Focuses on extracting small numbers precisely.
    prompt = """
    You are an expert data extractor. Analyze the provided e-commerce grid image containing product listings.
    Your task is to extract the following fields for all products visible:
    1. name: The full title of the product (e.g., 'Th√°m T·ª≠ L·ª´ng Danh Conan').
    2. price_vnd: The numerical price in Vietnamese Dong (VND).
    3. sold_count: The numerical count of items sold. Only include the number. Look for the phrase 'ƒê√£ b√°n' or 'b√°n' followed by a number.

    Respond STRICTLY in a JSON array format. Do not include any text, notes, or explanations outside the JSON object.
    """

    payload = {
        "contents": [
            {
                "parts": [
                    {"text": prompt},
                    {
                        "inlineData": {
                            "mimeType": "image/jpeg",
                            "data": base64_image
                        }
                    }
                ]
            }
        ],
        "generationConfig": {
            "responseMimeType": "application/json",
            "responseSchema": {
                "type": "ARRAY",
                "items": {
                    "type": "OBJECT",
                    "properties": {
                        "name": {"type": "STRING", "description": "The full product name or title."},
                        "price_vnd": {"type": "INTEGER", "description": "The numerical price in VND."},
                        "sold_count": {"type": "INTEGER", "description": "The numerical count of items sold."}
                    },
                    "required": ["name", "price_vnd", "sold_count"]
                }
            }
        }
    }

    print(f"Connecting to Gemini API with model {MODEL_NAME}...")
    
    try:
        # Exponential backoff for robust API calls
        for i in range(5):
            try:
                response = requests.post(API_URL, json=payload, timeout=60) 
                response.raise_for_status() 
                break
            except requests.exceptions.RequestException:
                if i < 4:
                    wait_time = 2 ** i
                    time.sleep(wait_time)
                else:
                    raise

        # Extract and parse the generated JSON text
        data = response.json()
        raw_json_string = data.get('candidates', [{}])[0].get('content', {}).get('parts', [{}])[0].get('text', '{}').strip()
        
        return json.loads(raw_json_string), None

    except requests.exceptions.RequestException as e:
        return None, f"Network/Connection Error: Ensure internet access and valid API key. Details: {e}"
    except json.JSONDecodeError:
        return None, f"JSON Decoding Error: Model output was not valid JSON."
    except Exception as e:
        return None, f"An unexpected error occurred: {e}"

In [12]:
def ocr(img_path):
    # 1. Encode the image
    base64_image = encode_image_to_base64(img_path)

    if base64_image:
        # 2. Extract data using Gemini
        extracted_data, error_message = extract_structured_data_gemini(base64_image)

        print("-" * 50)
        
        if error_message:
            print(f"Extraction Failed: {error_message}")
        elif extracted_data:
            return pd.DataFrame(extracted_data)
        else:
            print("Extraction failed. Check model output.")

In [13]:
SHP_DATA_PATH = 'data'
CURR_DIR = os.getcwd()

df_sells = pd.DataFrame(columns=['name', 'price_vnd', 'sold_count'])
for path in os.listdir(SHP_DATA_PATH):
    ipath = os.path.join(CURR_DIR, SHP_DATA_PATH, path)
    print(ipath)
    df_extracted = ocr(ipath)
    df_sells = pd.concat([df_sells, df_extracted], ignore_index=True)

/Users/tranquocan.truong/Desktop/DALAS/Project/data/netflix-data.zip
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong1.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong2.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong3.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong6.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong4.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/VN_monthly_expenditure.csv
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/kimdong5.png
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/VN_avg_monthly_income_1424.csv
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/Number of employed persons in the economy by age group.csv
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/Netflix Dataset.csv
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do
/Users/tranquocan.truong/Desktop/DALAS/Project/data/anime_watching_count.csv
Image encoded successfully.
Connecting to Gemini API with model gemini-2.5-flash-preview-05-20...
--------------------------------------------------
Extraction Failed: Network/Connection Error: Ensure internet access and valid API key. Details: 404 Client Error: Not Found for url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-05-20:generateContent?key=AIzaSyD1bhORGVLHJHKOmNMRM001QtTQ_Rcj1do

In [14]:
df_sells

Empty DataFrame
Columns: [name, price_vnd, sold_count]
Index: []

# Viet Nam Statistical Data

The <b>National Statistics Office</b> of Vietnam does actually have multiple <a href='https://www.nso.gov.vn/en/statistical-data/?utm_source=chatgpt.com'>public statistical dataset</a> of almost all concerns, so this is our data come from.

## Average expenditure by type of goods and by region

In [215]:
df_avg_expenditure = pd.read_csv('data/VN_monthly_expenditure.csv', header=1)
df_avg_expenditure

,Items,2014 Tota expenditure,2014 Living expenditure,2014 Eating drinking & smoking expenditure,2014 Non eating drinking & smoking expenditure,2014 Others,2016 Tota expenditure,2016 Living expenditure,2016 Eating drinking & smoking expenditure,2016 Non eating drinking & smoking expenditure,...,2022 Tota expenditure,2022 Living expenditure,2022 Eating drinking & smoking expenditure,2022 Non eating drinking & smoking expenditure,2022 Others,Prel. 2024 Tota expenditure,Prel. 2024 Living expenditure,Prel. 2024 Eating drinking & smoking expenditure,Prel. 2024 Non eating drinking & smoking expenditure,Prel. 2024 Others
0,WHOLE COUNTRY,1888.0,1763.0,927.0,836.0,125.0,2157.0,2016.0,1027.0,989.0,...,2794.93,2667.93,1287.14,1380.79,127.00,2976.59,2814.33,1381.10,1433.23,162.26
1,Urban,2613.0,2461.0,1239.0,1222.0,152.0,3059.0,2886.0,1404.0,1482.0,...,3263.85,3124.43,1468.64,1655.80,139.42,3767.74,3587.59,1709.90,1877.69,180.14
2,Rural,1557.0,1444.0,784.0,660.0,113.0,1735.0,1609.0,851.0,758.0,...,2496.18,2377.09,1171.51,1205.58,119.09,2488.09,2336.87,1178.07,1158.79,151.22
3,Red River Delta,2241.0,2082.0,1079.0,1003.0,159.0,2528.0,2364.0,1151.0,1213.0,...,3394.31,3230.02,1569.13,1660.88,164.29,3450.86,3235.25,1521.88,1713.36,215.61
4,Northern midlands and mountain areas,1538.0,1441.0,752.0,689.0,97.0,1655.0,1551.0,824.0,727.0,...,1969.98,1871.43,961.67,909.76,98.55,2337.68,2207.60,1084.81,1122.78,130.08
5,North Central area and Central coastal area,1647.0,1537.0,850.0,687.0,110.0,1809.0,1685.0,918.0,767.0,...,2547.26,2426.29,1200.82,1225.47,120.96,2715.28,2573.97,1315.82,1258.15,141.32
6,Central Highlands,1660.0,1537.0,777.0,760.0,123.0,1766.0,1620.0,828.0,792.0,...,2208.69,2105.73,979.92,1125.81,102.97,2274.42,2139.91,1080.11,1059.80,134.51
7,South East,2410.0,2282.0,1155.0,1127.0,128.0,3018.0,2846.0,1415.0,1431.0,...,3579.91,3455.93,1524.21,1931.72,123.99,3674.66,3523.39,1723.51,1799.88,151.28
8,Mekong River Delta,1602.0,1484.0,805.0,679.0,118.0,1872.0,1741.0,888.0,853.0,...,2257.83,2142.62,1101.67,1040.95,115.21,2610.96,2450.29,1223.75,1226.54,160.66
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
df_avg_expenditure.columns

Index(['Items', '2014 Tota expenditure', '2014 Living expenditure',
       '2014 Eating drinking & smoking expenditure',
       '2014 Non eating drinking & smoking expenditure', '2014 Others',
       '2016 Tota expenditure', '2016 Living expenditure',
       '2016 Eating drinking & smoking expenditure',
       '2016 Non eating drinking & smoking expenditure', '2016 Others',
       '2018 Tota expenditure', '2018 Living expenditure',
       '2018 Eating drinking & smoking expenditure',
       '2018 Non eating drinking & smoking expenditure', '2018 Others',
       '2020 Tota expenditure', '2020 Living expenditure',
       '2020 Eating drinking & smoking expenditure',
       '2020 Non eating drinking & smoking expenditure', '2020 Others',
       '2022 Tota expenditure', '2022 Living expenditure',
       '2022 Eating drinking & smoking expenditure',
       '2022 Non eating drinking & smoking expenditure', '2022 Others',
       'Prel. 2024 Tota expenditure', 'Prel. 2024 Living expenditure',
       'Prel. 2024 Eating drinking & smoking expenditure',
       'Prel. 2024 Non eating drinking & smoking expenditure',
       'Prel. 2024 Others'],
      dtype='object')

In [219]:
df_avg_expenditure.columns = df_avg_expenditure.columns.str.replace('Prel. ', '')
df_avg_expenditure.columns

Index(['Items', '2014 Tota expenditure', '2014 Living expenditure',
       '2014 Eating drinking & smoking expenditure',
       '2014 Non eating drinking & smoking expenditure', '2014 Others',
       '2016 Tota expenditure', '2016 Living expenditure',
       '2016 Eating drinking & smoking expenditure',
       '2016 Non eating drinking & smoking expenditure', '2016 Others',
       '2018 Tota expenditure', '2018 Living expenditure',
       '2018 Eating drinking & smoking expenditure',
       '2018 Non eating drinking & smoking expenditure', '2018 Others',
       '2020 Tota expenditure', '2020 Living expenditure',
       '2020 Eating drinking & smoking expenditure',
       '2020 Non eating drinking & smoking expenditure', '2020 Others',
       '2022 Tota expenditure', '2022 Living expenditure',
       '2022 Eating drinking & smoking expenditure',
       '2022 Non eating drinking & smoking expenditure', '2022 Others',
       '2024 Tota expenditure', '2024 Living expenditure',
       '2024 Eating drinking & smoking expenditure',
       '2024 Non eating drinking & smoking expenditure', '2024 Others'],
      dtype='object')

In [220]:
# convert from VND to USD with the rate 1 USD = 26200 VND

numeric_cols = df_avg_expenditure.select_dtypes(include=np.number).columns
df_avg_expenditure[numeric_cols] = np.round(df_avg_expenditure[numeric_cols] * 1000 / 26200, 3)

In [221]:
# 1. Replace Items by Region
df_avg_expenditure = df_avg_expenditure.rename(columns={'Items': 'Region'})

# Set Region column as index
df_avg_expenditure = df_avg_expenditure.set_index('Region')

# 2. Create the MultiIndex
# split each column name i.e "2014 Total expenditure" to ('2014', 'Total expenditure')
new_columns = [tuple(c.split(' ', 1)) for c in df_avg_expenditure.columns]

# Create the MultiIndex
df_avg_expenditure.columns = pd.MultiIndex.from_tuples(new_columns, names=['Year', 'Stats'])

df_avg_expenditure

Year                                                    2014  \
Stats                                       Tota expenditure
Region
WHOLE COUNTRY                                         72.061
Urban                                                 99.733
Rural                                                 59.427
Red River Delta                                       85.534
Northern midlands and mountain areas                  58.702
North Central area and Central coastal area           62.863
Central Highlands                                     63.359
South East                                            91.985
Mekong River Delta                                    61.145
NaN                                                      NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                           67.290
Urban                                                   93.931
Rural                                                   55.115
Red River Delta                                         79.466
Northern midlands and mountain areas                    55.000
North Central area and Central coastal area             58.664
Central Highlands                                       58.664
South East                                              87.099
Mekong River Delta                                      56.641
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              35.382
Urban                                                                      47.290
Rural                                                                      29.924
Red River Delta                                                            41.183
Northern midlands and mountain areas                                       28.702
North Central area and Central coastal area                                32.443
Central Highlands                                                          29.656
South East                                                                 44.084
Mekong River Delta                                                         30.725
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  31.908
Urban                                                                          46.641
Rural                                                                          25.191
Red River Delta                                                                38.282
Northern midlands and mountain areas                                           26.298
North Central area and Central coastal area                                    26.221
Central Highlands                                                              29.008
South East                                                                     43.015
Mekong River Delta                                                             25.916
NaN                                                                               NaN

Year                                                           2016  \
Stats                                       Others Tota expenditure
Region
WHOLE COUNTRY                                4.771           82.328
Urban                                        5.802          116.756
Rural                                        4.313           66.221
Red River Delta                              6.069           96.489
Northern midlands and mountain areas         3.702           63.168
North Central area and Central coastal area  4.198           69.046
Central Highlands                            4.695           67.405
South East                                   4.885          115.191
Mekong River Delta                           4.504           71.450
NaN                                            NaN              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                           76.947
Urban                                                  110.153
Rural                                                   61.412
Red River Delta                                         90.229
Northern midlands and mountain areas                    59.198
North Central area and Central coastal area             64.313
Central Highlands                                       61.832
South East                                             108.626
Mekong River Delta                                      66.450
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              39.198
Urban                                                                      53.588
Rural                                                                      32.481
Red River Delta                                                            43.931
Northern midlands and mountain areas                                       31.450
North Central area and Central coastal area                                35.038
Central Highlands                                                          31.603
South East                                                                 54.008
Mekong River Delta                                                         33.893
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  37.748
Urban                                                                          56.565
Rural                                                                          28.931
Red River Delta                                                                46.298
Northern midlands and mountain areas                                           27.748
North Central area and Central coastal area                                    29.275
Central Highlands                                                              30.229
South East                                                                     54.618
Mekong River Delta                                                             32.557
NaN                                                                               NaN

Year                                                ...             2022  \
Stats                                       Others  ... Tota expenditure
Region                                              ...
WHOLE COUNTRY                                5.382  ...          106.677
Urban                                        6.603  ...          124.574
Rural                                        4.809  ...           95.274
Red River Delta                              6.260  ...          129.554
Northern midlands and mountain areas         3.969  ...           75.190
North Central area and Central coastal area  4.733  ...           97.224
Central Highlands                            5.573  ...           84.301
South East                                   6.565  ...          136.638
Mekong River Delta                           5.000  ...           86.177
NaN                                            NaN  ...              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                          101.829
Urban                                                  119.253
Rural                                                   90.729
Red River Delta                                        123.283
Northern midlands and mountain areas                    71.429
North Central area and Central coastal area             92.606
Central Highlands                                       80.371
South East                                             131.906
Mekong River Delta                                      81.779
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              49.127
Urban                                                                      56.055
Rural                                                                      44.714
Red River Delta                                                            59.890
Northern midlands and mountain areas                                       36.705
North Central area and Central coastal area                                45.833
Central Highlands                                                          37.402
South East                                                                 58.176
Mekong River Delta                                                         42.048
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  52.702
Urban                                                                          63.198
Rural                                                                          46.015
Red River Delta                                                                63.392
Northern midlands and mountain areas                                           34.724
North Central area and Central coastal area                                    46.774
Central Highlands                                                              42.970
South East                                                                     73.730
Mekong River Delta                                                             39.731
NaN                                                                               NaN

Year                                                           2024  \
Stats                                       Others Tota expenditure
Region
WHOLE COUNTRY                                4.847          113.610
Urban                                        5.321          143.807
Rural                                        4.545           94.965
Red River Delta                              6.271          131.712
Northern midlands and mountain areas         3.761           89.224
North Central area and Central coastal area  4.617          103.637
Central Highlands                            3.930           86.810
South East                                   4.732          140.254
Mekong River Delta                           4.397           99.655
NaN                                            NaN              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                          107.417
Urban                                                  136.931
Rural                                                   89.194
Red River Delta                                        123.483
Northern midlands and mountain areas                    84.260
North Central area and Central coastal area             98.243
Central Highlands                                       81.676
South East                                             134.481
Mekong River Delta                                      93.523
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              52.714
Urban                                                                      65.263
Rural                                                                      44.965
Red River Delta                                                            58.087
Northern midlands and mountain areas                                       41.405
North Central area and Central coastal area                                50.222
Central Highlands                                                          41.226
South East                                                                 65.783
Mekong River Delta                                                         46.708
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  54.703
Urban                                                                          71.668
Rural                                                                          44.229
Red River Delta                                                                65.395
Northern midlands and mountain areas                                           42.854
North Central area and Central coastal area                                    48.021
Central Highlands                                                              40.450
South East                                                                     68.698
Mekong River Delta                                                             46.815
NaN                                                                               NaN

Year
Stats                                       Others
Region
WHOLE COUNTRY                                6.193
Urban                                        6.876
Rural                                        5.772
Red River Delta                              8.229
Northern midlands and mountain areas         4.965
North Central area and Central coastal area  5.394
Central Highlands                            5.134
South East                                   5.774
Mekong River Delta                           6.132
NaN                                            NaN

[10 rows x 30 columns]

In [222]:
df_avg_expenditure['2024']

Stats,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others
Region,,,,,
WHOLE COUNTRY,113.610,107.417,52.714,54.703,6.193
Urban,143.807,136.931,65.263,71.668,6.876
Rural,94.965,89.194,44.965,44.229,5.772
Red River Delta,131.712,123.483,58.087,65.395,8.229
Northern midlands and mountain areas,89.224,84.260,41.405,42.854,4.965
North Central area and Central coastal area,103.637,98.243,50.222,48.021,5.394
Central Highlands,86.810,81.676,41.226,40.450,5.134
South East,140.254,134.481,65.783,68.698,5.774
Mekong River Delta,99.655,93.523,46.708,46.815,6.132
NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
df_avg_expenditure['2014'].loc['Urban', 'Eating drinking & smoking expenditure']

np.float64(47.29)

## Average income by region (thousand VND)

In [232]:
df_avg_income = pd.read_csv('data/VN_avg_monthly_income_1424.csv', header=1)
# Normalize pivot column name
df_avg_income = df_avg_income.rename(columns={'Residence and region': 'Region'})
df_avg_income.columns = df_avg_income.columns.str.replace("Prel. ", "")

# Set Region column as index
df_avg_income = df_avg_income.set_index('Region')

# 1. Get a list of the numeric column names
numeric_cols = df_avg_income.select_dtypes(include=np.number).columns

# 2. convert from VND to USD with the rate 1 USD = 26200 VND
df_avg_income[numeric_cols] = np.round(df_avg_income[numeric_cols] * 1000 / 26200, 3)

df_avg_income

,2014,2016,2018,2019,2020,2021,2022,2023,2024
Region,,,,,,,,,
WHOLE COUNTRY,100.649,118.244,147.863,163.912,162.214,160.489,178.341,189.382,206.679
Urban,151.298,173.702,214.656,229.862,209.924,205.664,226.898,238.863,262.959
Rural,77.786,92.481,113.969,129.747,132.901,133.046,147.467,159.147,171.927
Red River Delta,124.618,148.206,182.252,198.118,194.046,191.832,213.224,228.268,250.311
Northern midlands and mountain areas,61.565,74.924,93.588,100.765,104.771,108.302,120.982,131.223,143.480
North Central area and Central coastal area,75.649,90.000,115.038,127.139,129.962,133.328,151.400,163.165,177.423
Central Highlands,76.641,90.305,110.496,118.116,107.519,108.992,125.259,135.427,148.181
South East,157.443,177.939,221.069,239.685,229.924,221.153,241.759,248.632,270.021
Mekong River Delta,88.817,106.031,136.832,148.337,147.863,141.725,155.597,166.831,181.419
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## All combine

In [233]:
df_avg_expenditure

Year                                                    2014  \
Stats                                       Tota expenditure
Region
WHOLE COUNTRY                                         72.061
Urban                                                 99.733
Rural                                                 59.427
Red River Delta                                       85.534
Northern midlands and mountain areas                  58.702
North Central area and Central coastal area           62.863
Central Highlands                                     63.359
South East                                            91.985
Mekong River Delta                                    61.145
NaN                                                      NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                           67.290
Urban                                                   93.931
Rural                                                   55.115
Red River Delta                                         79.466
Northern midlands and mountain areas                    55.000
North Central area and Central coastal area             58.664
Central Highlands                                       58.664
South East                                              87.099
Mekong River Delta                                      56.641
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              35.382
Urban                                                                      47.290
Rural                                                                      29.924
Red River Delta                                                            41.183
Northern midlands and mountain areas                                       28.702
North Central area and Central coastal area                                32.443
Central Highlands                                                          29.656
South East                                                                 44.084
Mekong River Delta                                                         30.725
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  31.908
Urban                                                                          46.641
Rural                                                                          25.191
Red River Delta                                                                38.282
Northern midlands and mountain areas                                           26.298
North Central area and Central coastal area                                    26.221
Central Highlands                                                              29.008
South East                                                                     43.015
Mekong River Delta                                                             25.916
NaN                                                                               NaN

Year                                                           2016  \
Stats                                       Others Tota expenditure
Region
WHOLE COUNTRY                                4.771           82.328
Urban                                        5.802          116.756
Rural                                        4.313           66.221
Red River Delta                              6.069           96.489
Northern midlands and mountain areas         3.702           63.168
North Central area and Central coastal area  4.198           69.046
Central Highlands                            4.695           67.405
South East                                   4.885          115.191
Mekong River Delta                           4.504           71.450
NaN                                            NaN              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                           76.947
Urban                                                  110.153
Rural                                                   61.412
Red River Delta                                         90.229
Northern midlands and mountain areas                    59.198
North Central area and Central coastal area             64.313
Central Highlands                                       61.832
South East                                             108.626
Mekong River Delta                                      66.450
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              39.198
Urban                                                                      53.588
Rural                                                                      32.481
Red River Delta                                                            43.931
Northern midlands and mountain areas                                       31.450
North Central area and Central coastal area                                35.038
Central Highlands                                                          31.603
South East                                                                 54.008
Mekong River Delta                                                         33.893
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  37.748
Urban                                                                          56.565
Rural                                                                          28.931
Red River Delta                                                                46.298
Northern midlands and mountain areas                                           27.748
North Central area and Central coastal area                                    29.275
Central Highlands                                                              30.229
South East                                                                     54.618
Mekong River Delta                                                             32.557
NaN                                                                               NaN

Year                                                ...             2022  \
Stats                                       Others  ... Tota expenditure
Region                                              ...
WHOLE COUNTRY                                5.382  ...          106.677
Urban                                        6.603  ...          124.574
Rural                                        4.809  ...           95.274
Red River Delta                              6.260  ...          129.554
Northern midlands and mountain areas         3.969  ...           75.190
North Central area and Central coastal area  4.733  ...           97.224
Central Highlands                            5.573  ...           84.301
South East                                   6.565  ...          136.638
Mekong River Delta                           5.000  ...           86.177
NaN                                            NaN  ...              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                          101.829
Urban                                                  119.253
Rural                                                   90.729
Red River Delta                                        123.283
Northern midlands and mountain areas                    71.429
North Central area and Central coastal area             92.606
Central Highlands                                       80.371
South East                                             131.906
Mekong River Delta                                      81.779
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              49.127
Urban                                                                      56.055
Rural                                                                      44.714
Red River Delta                                                            59.890
Northern midlands and mountain areas                                       36.705
North Central area and Central coastal area                                45.833
Central Highlands                                                          37.402
South East                                                                 58.176
Mekong River Delta                                                         42.048
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  52.702
Urban                                                                          63.198
Rural                                                                          46.015
Red River Delta                                                                63.392
Northern midlands and mountain areas                                           34.724
North Central area and Central coastal area                                    46.774
Central Highlands                                                              42.970
South East                                                                     73.730
Mekong River Delta                                                             39.731
NaN                                                                               NaN

Year                                                           2024  \
Stats                                       Others Tota expenditure
Region
WHOLE COUNTRY                                4.847          113.610
Urban                                        5.321          143.807
Rural                                        4.545           94.965
Red River Delta                              6.271          131.712
Northern midlands and mountain areas         3.761           89.224
North Central area and Central coastal area  4.617          103.637
Central Highlands                            3.930           86.810
South East                                   4.732          140.254
Mekong River Delta                           4.397           99.655
NaN                                            NaN              NaN

Year                                                            \
Stats                                       Living expenditure
Region
WHOLE COUNTRY                                          107.417
Urban                                                  136.931
Rural                                                   89.194
Red River Delta                                        123.483
Northern midlands and mountain areas                    84.260
North Central area and Central coastal area             98.243
Central Highlands                                       81.676
South East                                             134.481
Mekong River Delta                                      93.523
NaN                                                        NaN

Year                                                                               \
Stats                                       Eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                              52.714
Urban                                                                      65.263
Rural                                                                      44.965
Red River Delta                                                            58.087
Northern midlands and mountain areas                                       41.405
North Central area and Central coastal area                                50.222
Central Highlands                                                          41.226
South East                                                                 65.783
Mekong River Delta                                                         46.708
NaN                                                                           NaN

Year                                                                                   \
Stats                                       Non eating drinking & smoking expenditure
Region
WHOLE COUNTRY                                                                  54.703
Urban                                                                          71.668
Rural                                                                          44.229
Red River Delta                                                                65.395
Northern midlands and mountain areas                                           42.854
North Central area and Central coastal area                                    48.021
Central Highlands                                                              40.450
South East                                                                     68.698
Mekong River Delta                                                             46.815
NaN                                                                               NaN

Year
Stats                                       Others
Region
WHOLE COUNTRY                                6.193
Urban                                        6.876
Rural                                        5.772
Red River Delta                              8.229
Northern midlands and mountain areas         4.965
North Central area and Central coastal area  5.394
Central Highlands                            5.134
South East                                   5.774
Mekong River Delta                           6.132
NaN                                            NaN

[10 rows x 30 columns]

In [234]:
df_avg_expenditure.columns

MultiIndex([('2014',                          'Tota expenditure'),
            ('2014',                        'Living expenditure'),
            ('2014',     'Eating drinking & smoking expenditure'),
            ('2014', 'Non eating drinking & smoking expenditure'),
            ('2014',                                    'Others'),
            ('2016',                          'Tota expenditure'),
            ('2016',                        'Living expenditure'),
            ('2016',     'Eating drinking & smoking expenditure'),
            ('2016', 'Non eating drinking & smoking expenditure'),
            ('2016',                                    'Others'),
            ('2018',                          'Tota expenditure'),
            ('2018',                        'Living expenditure'),
            ('2018',     'Eating drinking & smoking expenditure'),
            ('2018', 'Non eating drinking & smoking expenditure'),
            ('2018',                                    'Others'),
            ('2020',                          'Tota expenditure'),
            ('2020',                        'Living expenditure'),
            ('2020',     'Eating drinking & smoking expenditure'),
            ('2020', 'Non eating drinking & smoking expenditure'),
            ('2020',                                    'Others'),
            ('2022',                          'Tota expenditure'),
            ('2022',                        'Living expenditure'),
            ('2022',     'Eating drinking & smoking expenditure'),
            ('2022', 'Non eating drinking & smoking expenditure'),
            ('2022',                                    'Others'),
            ('2024',                          'Tota expenditure'),
            ('2024',                        'Living expenditure'),
            ('2024',     'Eating drinking & smoking expenditure'),
            ('2024', 'Non eating drinking & smoking expenditure'),
            ('2024',                                    'Others')],
           names=['Year', 'Stats'])

In [235]:
list_years = list(df_avg_expenditure.columns.get_level_values('Year').unique())
list_years

['2014', '2016', '2018', '2020', '2022', '2024']

In [236]:
# IMPORTANT: Give a name to this new data type
new_data_type = 'Avg Monthly Income' 

# Create a MultiIndex where the top level is the year and the bottom is our new name
income_cols = [(year, new_data_type) for year in df_avg_income.columns ]
df_avg_income.columns = pd.MultiIndex.from_tuples(income_cols, names=['Year', 'Expenditure Type'])

cols_to_keep = [col for col in df_avg_income.columns if col in list_years]
df_avg_income = df_avg_income[list_years]

df_avg_income

Year,2014,2016,2018,2020,2022,2024
Expenditure Type,Avg Monthly Income,Avg Monthly Income,Avg Monthly Income,Avg Monthly Income,Avg Monthly Income,Avg Monthly Income
Region,,,,,,
WHOLE COUNTRY,100.649,118.244,147.863,162.214,178.341,206.679
Urban,151.298,173.702,214.656,209.924,226.898,262.959
Rural,77.786,92.481,113.969,132.901,147.467,171.927
Red River Delta,124.618,148.206,182.252,194.046,213.224,250.311
Northern midlands and mountain areas,61.565,74.924,93.588,104.771,120.982,143.480
North Central area and Central coastal area,75.649,90.000,115.038,129.962,151.400,177.423
Central Highlands,76.641,90.305,110.496,107.519,125.259,148.181
South East,157.443,177.939,221.069,229.924,241.759,270.021
Mekong River Delta,88.817,106.031,136.832,147.863,155.597,181.419
NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
# --- 4. Join the two DataFrames ---
# .join() combines the tables side-by-side, aligning them on the 'Region' index
df_stats = df_avg_expenditure.join(df_avg_income, how='outer')

In [238]:
df_stats

Year                                                    2014  \
                                            Tota expenditure
Region
Central Highlands                                     63.359
Mekong River Delta                                    61.145
North Central area and Central coastal area           62.863
Northern midlands and mountain areas                  58.702
Red River Delta                                       85.534
Rural                                                 59.427
South East                                            91.985
Urban                                                 99.733
WHOLE COUNTRY                                         72.061
NaN                                                      NaN

Year                                                            \
                                            Living expenditure
Region
Central Highlands                                       58.664
Mekong River Delta                                      56.641
North Central area and Central coastal area             58.664
Northern midlands and mountain areas                    55.000
Red River Delta                                         79.466
Rural                                                   55.115
South East                                              87.099
Urban                                                   93.931
WHOLE COUNTRY                                           67.290
NaN                                                        NaN

Year                                                                               \
                                            Eating drinking & smoking expenditure
Region
Central Highlands                                                          29.656
Mekong River Delta                                                         30.725
North Central area and Central coastal area                                32.443
Northern midlands and mountain areas                                       28.702
Red River Delta                                                            41.183
Rural                                                                      29.924
South East                                                                 44.084
Urban                                                                      47.290
WHOLE COUNTRY                                                              35.382
NaN                                                                           NaN

Year                                                                                   \
                                            Non eating drinking & smoking expenditure
Region
Central Highlands                                                              29.008
Mekong River Delta                                                             25.916
North Central area and Central coastal area                                    26.221
Northern midlands and mountain areas                                           26.298
Red River Delta                                                                38.282
Rural                                                                          25.191
South East                                                                     43.015
Urban                                                                          46.641
WHOLE COUNTRY                                                                  31.908
NaN                                                                               NaN

Year                                                           2016  \
                                            Others Tota expenditure
Region
Central Highlands                            4.695           67.405
Mekong River Delta                           4.504           71.450
North Central area and Central coastal area  4.198           69.046
Northern midlands and mountain areas         3.702           63.168
Red River Delta                              6.069           96.489
Rural                                        4.313           66.221
South East                                   4.885          115.191
Urban                                        5.802          116.756
WHOLE COUNTRY                                4.771           82.328
NaN                                            NaN              NaN

Year                                                            \
                                            Living expenditure
Region
Central Highlands                                       61.832
Mekong River Delta                                      66.450
North Central area and Central coastal area             64.313
Northern midlands and mountain areas                    59.198
Red River Delta                                         90.229
Rural                                                   61.412
South East                                             108.626
Urban                                                  110.153
WHOLE COUNTRY                                           76.947
NaN                                                        NaN

Year                                                                               \
                                            Eating drinking & smoking expenditure
Region
Central Highlands                                                          31.603
Mekong River Delta                                                         33.893
North Central area and Central coastal area                                35.038
Northern midlands and mountain areas                                       31.450
Red River Delta                                                            43.931
Rural                                                                      32.481
South East                                                                 54.008
Urban                                                                      53.588
WHOLE COUNTRY                                                              39.198
NaN                                                                           NaN

Year                                                                                   \
                                            Non eating drinking & smoking expenditure
Region
Central Highlands                                                              30.229
Mekong River Delta                                                             32.557
North Central area and Central coastal area                                    29.275
Northern midlands and mountain areas                                           27.748
Red River Delta                                                                46.298
Rural                                                                          28.931
South East                                                                     54.618
Urban                                                                          56.565
WHOLE COUNTRY                                                                  37.748
NaN                                                                               NaN

Year                                                ...               2024  \
                                            Others  ... Living expenditure
Region                                              ...
Central Highlands                            5.573  ...             81.676
Mekong River Delta                           5.000  ...             93.523
North Central area and Central coastal area  4.733  ...             98.243
Northern midlands and mountain areas         3.969  ...             84.260
Red River Delta                              6.260  ...            123.483
Rural                                        4.809  ...             89.194
South East                                   6.565  ...            134.481
Urban                                        6.603  ...            136.931
WHOLE COUNTRY                                5.382  ...            107.417
NaN                                            NaN  ...                NaN

Year                                                                               \
                                            Eating drinking & smoking expenditure
Region
Central Highlands                                                          41.226
Mekong River Delta                                                         46.708
North Central area and Central coastal area                                50.222
Northern midlands and mountain areas                                       41.405
Red River Delta                                                            58.087
Rural                                                                      44.965
South East                                                                 65.783
Urban                                                                      65.263
WHOLE COUNTRY                                                              52.714
NaN                                                                           NaN

Year                                                                                   \
                                            Non eating drinking & smoking expenditure
Region
Central Highlands                                                              40.450
Mekong River Delta                                                             46.815
North Central area and Central coastal area                                    48.021
Northern midlands and mountain areas                                           42.854
Red River Delta                                                                65.395
Rural                                                                          44.229
South East                                                                     68.698
Urban                                                                          71.668
WHOLE COUNTRY                                                                  54.703
NaN                                                                               NaN

Year                                                             2014  \
                                            Others Avg Monthly Income
Region
Central Highlands                            5.134             76.641
Mekong River Delta                           6.132             88.817
North Central area and Central coastal area  5.394             75.649
Northern midlands and mountain areas         4.965             61.565
Red River Delta                              8.229            124.618
Rural                                        5.772             77.786
South East                                   5.774            157.443
Urban                                        6.876            151.298
WHOLE COUNTRY                                6.193            100.649
NaN                                            NaN                NaN

Year                                                      2016  \
                                            Avg Monthly Income
Region
Central Highlands                                       90.305
Mekong River Delta                                     106.031
North Central area and Central coastal area             90.000
Northern midlands and mountain areas                    74.924
Red River Delta                                        148.206
Rural                                                   92.481
South East                                             177.939
Urban                                                  173.702
WHOLE COUNTRY                                          118.244
NaN                                                        NaN

Year                                                      2018  \
                                            Avg Monthly Income
Region
Central Highlands                                      110.496
Mekong River Delta                                     136.832
North Central area and Central coastal area            115.038
Northern midlands and mountain areas                    93.588
Red River Delta                                        182.252
Rural                                                  113.969
South East                                             221.069
Urban                                                  214.656
WHOLE COUNTRY                                          147.863
NaN                                                        NaN

Year                                                      2020  \
                                            Avg Monthly Income
Region
Central Highlands                                      107.519
Mekong River Delta                                     147.863
North Central area and Central coastal area            129.962
Northern midlands and mountain areas                   104.771
Red River Delta                                        194.046
Rural                                                  132.901
South East                                             229.924
Urban                                                  209.924
WHOLE COUNTRY                                          162.214
NaN                                                        NaN

Year                                                      2022  \
                                            Avg Monthly Income
Region
Central Highlands                                      125.259
Mekong River Delta                                     155.597
North Central area and Central coastal area            151.400
Northern midlands and mountain areas                   120.982
Red River Delta                                        213.224
Rural                                                  147.467
South East                                             241.759
Urban                                                  226.898
WHOLE COUNTRY                                          178.341
NaN                                                        NaN

Year                                                      2024
                                            Avg Monthly Income
Region
Central Highlands                                      148.181
Mekong River Delta                                     181.419
North Central area and Central coastal area            177.423
Northern midlands and mountain areas                   143.480
Red River Delta                                        250.311
Rural                                                  171.927
South East                                             270.021
Urban                                                  262.959
WHOLE COUNTRY                                          206.679
NaN                                                        NaN

[10 rows x 36 columns]

In [239]:
# Drop NaNs
df_stats = df_stats.dropna()
df_stats['2014']

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others,Avg Monthly Income
Region,,,,,,
Central Highlands,63.359,58.664,29.656,29.008,4.695,76.641
Mekong River Delta,61.145,56.641,30.725,25.916,4.504,88.817
North Central area and Central coastal area,62.863,58.664,32.443,26.221,4.198,75.649
Northern midlands and mountain areas,58.702,55.000,28.702,26.298,3.702,61.565
Red River Delta,85.534,79.466,41.183,38.282,6.069,124.618
Rural,59.427,55.115,29.924,25.191,4.313,77.786
South East,91.985,87.099,44.084,43.015,4.885,157.443
Urban,99.733,93.931,47.290,46.641,5.802,151.298
WHOLE COUNTRY,72.061,67.290,35.382,31.908,4.771,100.649

In [241]:
df_stats['2024']

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others,Avg Monthly Income
Region,,,,,,
Central Highlands,86.810,81.676,41.226,40.450,5.134,148.181
Mekong River Delta,99.655,93.523,46.708,46.815,6.132,181.419
North Central area and Central coastal area,103.637,98.243,50.222,48.021,5.394,177.423
Northern midlands and mountain areas,89.224,84.260,41.405,42.854,4.965,143.480
Red River Delta,131.712,123.483,58.087,65.395,8.229,250.311
Rural,94.965,89.194,44.965,44.229,5.772,171.927
South East,140.254,134.481,65.783,68.698,5.774,270.021
Urban,143.807,136.931,65.263,71.668,6.876,262.959
WHOLE COUNTRY,113.610,107.417,52.714,54.703,6.193,206.679

In [242]:
df_stats.shape

(9, 36)

## Prediction Model

Train and make prediction for Urban average monthly income

### Data Preparation

In [243]:
data_urban = df_stats.loc['Urban']
dict(data_urban['2024'])

{'Tota expenditure': np.float64(143.807),
 'Living expenditure': np.float64(136.931),
 'Eating drinking & smoking expenditure': np.float64(65.263),
 'Non eating drinking & smoking expenditure': np.float64(71.668),
 'Others': np.float64(6.876),
 'Avg Monthly Income': np.float64(262.959)}

In [244]:
list_years

['2014', '2016', '2018', '2020', '2022', '2024']

In [251]:
col_names = list(data_urban['2024'].keys())
col_names

['Tota expenditure',
 'Living expenditure',
 'Eating drinking & smoking expenditure',
 'Non eating drinking & smoking expenditure',
 'Others',
 'Avg Monthly Income']

In [257]:
dict(data_urban['2014'])

{'Tota expenditure': np.float64(99.733),
 'Living expenditure': np.float64(93.931),
 'Eating drinking & smoking expenditure': np.float64(47.29),
 'Non eating drinking & smoking expenditure': np.float64(46.641),
 'Others': np.float64(5.802),
 'Avg Monthly Income': np.float64(151.298)}

In [262]:
df_urban = pd.DataFrame(columns=col_names)

for year in list_years:
    df_urban = pd.concat((df_urban, pd.DataFrame([dict(data_urban[year])])))

/var/folders/2v/0h890r5d3g93n2j6tb6k9cf00000gn/T/ipykernel_17309/625784713.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_urban = pd.concat((df_urban, pd.DataFrame([dict(data_urban[year])])))

In [264]:
df_urban.index=list_years
df_urban

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others,Avg Monthly Income
2014,99.733,93.931,47.290,46.641,5.802,151.298
2016,116.756,110.153,53.588,56.565,6.603,173.702
2018,133.435,125.382,56.870,68.550,8.053,214.656
2020,144.106,136.112,65.534,60.359,7.994,209.924
2022,124.574,119.253,56.055,63.198,5.321,226.898
2024,143.807,136.931,65.263,71.668,6.876,262.959

In [278]:
target1 = 'Avg Monthly Income'
target2 = 'Non eating drinking & smoking expenditure'
features = [x for x in df_urban.columns if x not in [target1, target2]]
features

['Tota expenditure',
 'Living expenditure',
 'Eating drinking & smoking expenditure',
 'Others']

In [285]:
df_train = df_urban.loc[['2014', '2016', '2018', '2020']]
df_test = df_urban.loc[['2022', '2024']]

In [286]:
df_train

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others,Avg Monthly Income
2014,99.733,93.931,47.290,46.641,5.802,151.298
2016,116.756,110.153,53.588,56.565,6.603,173.702
2018,133.435,125.382,56.870,68.550,8.053,214.656
2020,144.106,136.112,65.534,60.359,7.994,209.924

In [287]:
df_test

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Non eating drinking & smoking expenditure,Others,Avg Monthly Income
2022,124.574,119.253,56.055,63.198,5.321,226.898
2024,143.807,136.931,65.263,71.668,6.876,262.959

In [299]:
X_train = df_train.loc[:, features]
y1_train = df_train.loc[:, target1]
y2_train = df_train.loc[:, target2]

In [300]:
X_train

,Tota expenditure,Living expenditure,Eating drinking & smoking expenditure,Others
2014,99.733,93.931,47.290,5.802
2016,116.756,110.153,53.588,6.603
2018,133.435,125.382,56.870,8.053
2020,144.106,136.112,65.534,7.994

In [301]:
y1_train

2014    151.298
2016    173.702
2018    214.656
2020    209.924
Name: Avg Monthly Income, dtype: float64

In [302]:
y2_train

2014    46.641
2016    56.565
2018    68.550
2020    60.359
Name: Non eating drinking & smoking expenditure, dtype: float64

## Training & Testing model

In [311]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error as mse

model1 = Ridge(alpha=1.0)
model1.fit(X_train, y1_train)

model2 = Ridge(alpha=1.0)
model2.fit(X_train, y2_train)

Ridge()

In [312]:
X_test = df_test.loc[:, features]
y1_test = df_test.loc[:, target1]
y2_test = df_test.loc[:, target2]

y1_hat = model1.predict(X_test)
y2_hat = model2.predict(X_test)

In [ ]:
print(f'Root Mean Squared Error for target {target1}: {np.sqrt(mse(y1_hat, y1_test))}')
print(f'Root Mean Squared Error for target {target2}: {np.sqrt(mse(y2_hat, y2_test))}')

Root Mean Squared Error for target Avg Monthly Income: 45.77516240610828
Root Mean Squared Error for target Non eating drinking & smoking expenditure: 7.270998367940317

# Watching Anime Data

## From Unofficial Website

In [110]:
df_unoff_anime = pd.read_csv('data/anime_watching_count.csv', sep=';')
df_unoff_anime.head()

                   Anime watching_count
0              One Piece    229,864,062
1           Black Clover     88,642,980
2        Detective Conan     79,460,576
3  Jujutsu Kaisen 2nd SS     39,453,479
4                 Bleach     37,193,674

In [111]:
# Check data types
df_unoff_anime.dtypes

Anime             object
watching_count    object
dtype: object

In [32]:
# convert count from str to int
df_unoff_anime['watching_count'] = df_unoff_anime['watching_count'].apply(lambda row: int(''.join(row.split(','))))
df_unoff_anime['watching_count'].dtype

dtype('int64')

In [33]:
df_unoff_anime.head()

                   Anime  watching_count
0              One Piece       229864062
1           Black Clover        88642980
2        Detective Conan        79460576
3  Jujutsu Kaisen 2nd SS        39453479
4                 Bleach        37193674

## From Netflix

The dataset was published on Kaggle (<a href='https://www.kaggle.com/datasets/rohitgrewal/netflix-data'>link</a>)

In [34]:
link2 = 'https://www.kaggle.com/datasets/shivamb/netflix-shows'

In [35]:
# Download data from Kaggle
!curl -L -o ./data/netflix-data.zip\
  https://www.kaggle.com/api/v1/datasets/download/rohitgrewal/netflix-data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 1195k  100 1195k    0     0   286k      0  0:00:04  0:00:04 --:--:--  515k

In [ ]:
# Unzip dataset
%cd data
!unzip netflix-data.zip
%cd ..

In [39]:
df_netflix = pd.read_csv('data/Netflix Dataset.csv')
df_netflix.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"Jo√£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [40]:
# Normalize the country column
df_netflix.loc[:, 'Country'] = df_netflix['Country'].str.strip().str.lower()

In [41]:
# Check how many country exists in this dataset
df_netflix['Country'].unique()

array(['brazil', 'mexico', 'singapore', 'united states', 'turkey',
       'egypt', 'india', 'poland, united states', 'thailand', 'nigeria',
       nan, 'norway, iceland, united states', 'united kingdom', 'japan',
       'south korea', 'italy', 'canada', 'indonesia', 'romania', 'spain',
       'iceland', 'south africa, nigeria', 'france',
       'united states, south africa', 'portugal, spain',
       'hong kong, china, singapore', 'united states, germany',
       'south africa, china, united states', 'argentina',
       'united states, france, serbia', 'germany',
       'denmark, france, poland', 'poland', 'kenya',
       'new zealand, united kingdom', 'pakistan', 'australia',
       'australia, united states', 'mexico, united states',
       'united states, china', 'china, hong kong', 'taiwan',
       'united states, united kingdom', 'france, south korea, japan',
       'united states, canada', 'united kingdom, united states',
       'netherlands, denmark, south africa', 'canada, united states',
       'denmark', 'hong kong', 'france, netherlands, singapore', 'china',
       'philippines', 'united kingdom, spain, united states',
       'united arab emirates, united states', 'netherlands',
       'united kingdom, hong kong', 'iran, france',
       'united states, united kingdom, france',
       'united kingdom, france, belgium, united states, china',
       'argentina, brazil, france, poland, germany, denmark',
       'israel, united states', 'united states, mexico',
       'uruguay, argentina, spain', 'singapore, france',
       'united kingdom, united states, france, germany',
       'turkey, united states', 'bulgaria, united states',
       'australia, france', 'hong kong, iceland, united states',
       'united arab emirates', 'united states, chile',
       'germany, france, russia', 'mauritius, south africa',
       'united states, japan', 'lebanon', 'united states, bulgaria',
       'colombia', 'uruguay, argentina', 'egypt, algeria',
       'france, egypt', 'uruguay', 'soviet union, india',
       'sweden, united states', 'south africa', 'malaysia',
       'ireland, united kingdom, united states', 'spain, italy',
       'united kingdom, france, germany',
       'united states, germany, canada', 'united states, india',
       'japan, united states', 'denmark, united states',
       'south africa, united states', 'canada, luxembourg',
       'serbia, united states', 'canada, nigeria',
       'iceland, sweden, belgium', 'ireland, canada',
       'united states, italy', 'finland', 'india, germany',
       'china, spain, south korea, united states', 'spain, belgium',
       'united kingdom, canada, united states, germany',
       'brazil, netherlands, united states, colombia, austria, germany',
       'france, canada, belgium',
       'india, united kingdom, china, canada, japan, south korea, united states',
       'france, belgium', 'indonesia, south korea, singapore', 'norway',
       'peru', 'france, senegal, belgium', 'canada, france', 'chile',
       'romania, france, switzerland, germany',
       'bulgaria, united states, spain, canada', 'sweden, netherlands',
       'ghana', 'france, united states, mexico',
       'australia, united kingdom, united arab emirates, canada',
       'singapore, united states', 'japan, canada, united states',
       'saudi arabia',
       'australia, armenia, japan, jordan, mexico, mongolia, new zealand, philippines, south africa, sweden, united states, uruguay',
       'united states, france', 'norway, denmark, netherlands, sweden',
       'namibia', 'mexico, finland', 'united states, australia', 'russia',
       'australia, canada', 'united kingdom, ireland', 'belgium, france',
       'new zealand', 'uruguay, spain, mexico', 'south korea, china',
       'united states, canada, indonesia, united kingdom, china, singapore',
       'india, iran', 'united states, france, japan',
       'united kingdom, france', 'turkey, india', 'philippines, qatar',
       'vietnam', 'ireland, luxembourg, belgium',
       'saudi arabia, syria, egypt, lebanon, kuwait',
       'russia, united states', 'united kingdom, russia, united states',
       'argentina, spain', 'germany, jordan, netherlands',
       'hong kong, china', 'argentina, united states',
       'france, belgium, spain', 'germany, united states',
       'denmark, sweden, israel, united states',
       'ireland, united kingdom', 'united states, iceland',
       'united arab emirates, united kingdom, india', 'sweden',
       'norway, germany, sweden', 'finland, france', 'denmark, spain',
       'united kingdom, russia',
       'united states, united kingdom, australia',
       'india, united kingdom', 'united states, canada, ireland',
       'canada, united kingdom',
       'united states, israel, italy, south africa',
       'india, united states', 'united kingdom, china',
       'indonesia, singapore', 'netherlands, denmark, france, germany',
       'south korea, japan',
       'philippines, canada, united kingdom, united states',
       'france, malta, united states', 'kuwait',
       'united kingdom, pakistan', 'ireland', 'france, new zealand',
       'united kingdom, united states, australia',
       'united kingdom, czech republic, united states, germany, bahamas',
       'united states, australia, china',
       'china, germany, india, united states', 'germany, sri lanka',
       'united states, sweden', 'canada, united states, cayman islands',
       'india, france', 'united kingdom, canada',
       'united states, india, bangladesh',
       'united states, canada, france',
       'taiwan, china, france, united states', 'brazil, france, germany',
       'united states,', 'turkey, france, germany, poland',
       'australia, new zealand, united states',
       'germany, united states, hong kong, singapore',
       'france, germany, switzerland', 'mexico, argentina',
       'italy, united states, argentina',
       'germany, france, luxembourg, united kingdom, united states',
       'canada, united states, united kingdom',
       'united kingdom, canada, italy', 'czech republic, france',
       'zimbabwe', 'united kingdom, france, germany, spain',
       'taiwan, hong kong, united states, china', 'china, united states',
       'canada, brazil', 'united kingdom, australia', 'hungary',
       'germany, australia', 'united kingdom, poland, united states',
       'bulgaria', 'philippines, united states', 'finland, germany',
       'united states, thailand',
       'spain, belgium, switzerland, united states, china, united kingdom',
       'denmark, zimbabwe', 'united kingdom, south africa',
       'finland, sweden, norway, latvia, germany',
       'united kingdom, india',
       'south africa, united states, new zealand, canada',
       'france, qatar', 'france, algeria',
       'united states, italy, united kingdom, liechtenstein',
       'denmark, france, belgium, italy, netherlands, united states, united kingdom',
       'united states, australia, mexico',
       'united kingdom, czech republic, germany, united states',
       'russia, poland, serbia', 'france, china, japan, united states',
       'united states, south korea, china', 'germany, belgium',
       'chile, argentina', 'china, united states, united kingdom',
       'pakistan, norway, united states',
       'united kingdom, japan, united states', 'philippines, singapore',
       'united states, canada, belgium, united kingdom', 'venezuela',
       'argentina, uruguay, serbia', 'united states, mexico, colombia',
       'colombia, peru, united kingdom', 'brazil, united states',
       'czech republic, united states',
       'canada, france, italy, morocco, united states',
       'canada, spain, france', 'hong kong, united states',
       'france, canada, china, cambodia', 'united states, indonesia',
       'spain, france', 'spain, mexico, france', 'spain, france, italy',
       'spain, france, united states', 'united states, france, canada',
       'israel', 'italy, france', 'united kingdom, canada, united states',
       'cambodia, united states', 'china, japan',
       'united arab emirates, united states, united kingdom',
       'argentina, italy', 'united kingdom, israel, russia',
       'italy, switzerland, albania, poland', 'spain, cuba',
       'united states, brazil', 'united states, france, mexico',
       'united states, nicaragua', 'austria, germany',
       'united arab emirates, jordan, lebanon',
       'france, united kingdom, united states',
       'united kingdom, united states, spain, germany, greece, canada',
       'france, belgium, luxembourg, cambodia,', 'italy, turkey',
       'brazil, france', 'india, turkey', 'kenya, united states',
       'united states, south korea', 'south korea, united states',
       'italy, canada, france', 'thailand, united states',
       'united kingdom, denmark, canada, croatia', 'netherlands, belgium',
       'united kingdom, canada, united states, cayman islands',
       'italy, germany', 'united states, france, united kingdom, japan',
       'united states, united kingdom, denmark, sweden',
       'united states, united kingdom, italy',
       'united states, france, canada, spain', 'uruguay, guatemala',
       'germany, australia, france, china',
       'united states, united kingdom, japan',
       'united states, united kingdom, canada',
       'italy, switzerland, france, germany',
       'russia, united states, china', 'united states, canada, germany',
       'united states, czech republic', 'ireland, united states',
       'united states, united arab emirates',
       'france, australia, germany', 'hong kong, china, united states',
       'lebanon, united arab emirates, france, switzerland, germany',
       'united states, south korea, japan', 'romania, united states',
       'west germany', 'united states, ireland', 'chile, italy',
       'ireland, united kingdom, italy, united states', 'belgium',
       'poland,', 'slovenia, croatia, germany, czech republic, qatar',
       'canada, united kingdom, netherlands',
       'united kingdom, united states, france',
       'indonesia, united kingdom', 'united states, spain, germany',
       'india, japan', 'switzerland, france, belgium, united states',
       'china, south korea, united states',
       'united kingdom, france, belgium',
       'canada, ireland, united states',
       'united kingdom, united states, dominican republic',
       'united states, senegal', 'germany, united kingdom, united states',
       'united states, canada, united kingdom',
       'canada, united states, france', 'united kingdom, germany, canada',
       'argentina, france', 'south africa, germany, netherlands, france',
       'canada, united states, united kingdom, france, luxembourg',
       'finland, germany, belgium',
       'united states, united kingdom, germany', 'taiwan, china',
       'cambodia', 'spain, portugal', 'ireland, united states, france',
       'jordan', 'austria', 'germany, united states, canada',
       'united kingdom, germany, canada, united states',
       'united states, france, canada, lebanon, qatar',
       'indonesia, netherlands',
       'netherlands, belgium, united kingdom, united states',
       'china, united states, australia',
       'france, belgium, china, united states', 'spain, united kingdom',
       'united states, chile, israel', 'bangladesh',
       'united kingdom, norway, denmark, germany, sweden',
       'united states, japan, canada', 'norway, denmark, sweden',
       'china, india, nepal', 'united states, argentina',
       'mexico, united states, spain, colombia',
       'colombia, mexico, united states',
       'united kingdom, belgium, sweden', 'nigeria, united kingdom',
       'united kingdom, south korea', 'united states, taiwan',
       'netherlands, belgium, germany, jordan', 'france, canada',
       'united kingdom, france, united states',
       'denmark, singapore, canada, united states', 'denmark, china',
       'malaysia, singapore, hong kong', 'norway, united states',
       'united states, philippines', 'united states, greece, brazil',
       'france, united states', 'south korea, france',
       'united states, australia, samoa, united kingdom',
       'canada, south africa', 'united kingdom, italy',
       'germany, united kingdom', 'china, united kingdom',
       'argentina, chile, peru', 'united states, russia',
       'uruguay, germany', 'turkey, azerbaijan',
       'united states, china, hong kong',
       'canada, germany, france, united states',
       'argentina, united states, mexico',
       'france, united kingdom, india', 'china, taiwan',
       'italy, united kingdom, france', 'poland, west germany',
       'germany, united states, sweden', 'canada, spain',
       'united kingdom, france, belgium, united states', 'france, japan',
       'netherlands, germany, italy, canada', 'united states, cambodia',
       'united states, greece', 'united states, china, colombia',
       'united states, spain, italy',
       'norway, united kingdom, france, ireland',
       'united states, bermuda, ecuador', 'united kingdom, poland',
       'china, canada, united states', 'united states, spain',
       'india, mexico', 'united kingdom, west germany',
       'pakistan, united states', 'israel, sweden, germany, netherlands',
       'chile, united states, france', 'france, morocco',
       'united kingdom, germany', 'georgia, germany, france',
       'switzerland, france', 'turkey, south korea', 'italy, india',
       'united states, botswana', 'united states, colombia, mexico',
       'chile, argentina, france, spain, united states',
       'puerto rico, united states, colombia', 'united states, nigeria',
       'germany, united states, france',
       'spain, germany, denmark, united states',
       'united kingdom, united states, japan',
       'netherlands, united states',
       'united states, india, south korea, china',
       'denmark, germany, belgium, united kingdom, france',
       'denmark, germany, belgium, united kingdom, france, sweden',
       'france, switzerland, spain, united states, united arab emirates',
       'norway, sweden', 'united states, ireland, united kingdom, india',
       'united kingdom, singapore', 'spain, germany',
       'germany, czech republic',
       'denmark, brazil, france, portugal, sweden',
       'brazil, india, china, united states', 'india, germany, austria',
       'italy, united states', 'denmark, france, united states, sweden',
       'australia, iraq', 'china, morocco, hong kong', 'spain, colombia',
       'australia, united arab emirates',
       'canada, united states, germany', 'france, belgium, italy',
       'united kingdom, thailand', 'venezuela, colombia',
       'france, luxembourg, canada', 'india, nepal', 'mexico, spain',
       'colombia, united states', 'colombia, mexico',
       'france, germany, czech republic, belgium',
       'germany, china, united kingdom', 'canada, hungary, united states',
       'pakistan, united arab emirates', 'france, united kingdom',
       'spain, united kingdom, united states', 'united kingdom, kenya',
       'united states, norway, canada', 'canada, united states, ireland',
       'switzerland, vatican city, italy, germany, france',
       'portugal, france, poland, united states',
       'france, japan, united states', 'united states, new zealand',
       'united states, new zealand, japan',
       'united states, netherlands, japan, france', 'india, switzerland',
       'canada, india', 'canada, japan, united states',
       'united states, morocco', 'united states, mexico, spain, malta',
       'norway, denmark', 'south korea, canada, united states, china',
       'singapore, japan, france',
       'canada, mexico, germany, south africa',
       'united kingdom, united states, canada',
       'germany, france, united states, canada, united kingdom',
       'peru, germany, norway', 'singapore, malaysia',
       'united states, uruguay', 'india, canada',
       'ireland, canada, united kingdom, united states',
       'united states, germany, australia', 'senegal',
       'israel, germany, france', 'australia, france, ireland',
       'south africa, angola', 'austria, czech republic',
       'australia, india', 'united states, united kingdom, canada, japan',
       'sweden, united kingdom, finland', 'hong kong, taiwan',
       'united states, united kingdom, spain, south korea',
       'south korea, china, united states', 'guatemala', 'ukraine',
       'united states, united kingdom, canada, china',
       'italy, south africa, west germany, australia, united states',
       'united kingdom, finland, germany',
       'south africa, united states, germany',
       'united states, germany, united kingdom, australia',
       'india, soviet union', 'italy, france, switzerland',
       'canada, france, united states', 'united states, colombia',
       'india, malaysia', 'switzerland, united states',
       'thailand, canada, united states',
       'china, hong kong, united states', 'united kingdom, new zealand',
       'united kingdom, france, germany, united states',
       'south korea, czech republic',
       'czech republic, united kingdom, france',
       'australia, united kingdom, canada',
       'canada, united kingdom, united states', 'united states, hungary',
       'jamaica, united states', 'switzerland',
       'australia, united kingdom, united states, new zealand, italy, france',
       'france, united states, canada', 'australia, united kingdom',
       'united states, denmark',
       'united kingdom, france, canada, belgium, united states',
       'denmark, united kingdom, sweden', 'belarus', 'cyprus',
       'lebanon, united states, united arab emirates',
       'united states, hong kong', 'united states, kazakhstan',
       'argentina, france, united states, germany, qatar',
       'united states, germany, united kingdom',
       'united states, germany, united kingdom, italy',
       'united states, new zealand, united kingdom',
       'finland, united states', 'spain, france, uruguay',
       'france, belgium, united states', 'france, canada, united states',
       'spain, argentina', 'united kingdom, india, united states',
       'chile, france',
       'united states, united kingdom, france, germany, japan',
       'canada, norway', 'united states, hungary, ireland, canada',
       'united states, canada, china', 'united kingdom, malawi',
       'ireland, canada, luxembourg, united states, united kingdom, philippines, india',
       'united states, czech republic, united kingdom',
       'ghana, united states', 'israel, germany', 'spain, mexico',
       'mexico, france', 'brazil, united kingdom',
       'france, belgium, luxembourg, romania, canada, united states',
       'israel, germany, poland, luxembourg, belgium, france, united states',
       'france, germany', 'united states, malta, france, united kingdom',
       'united kingdom, united states, germany, denmark, belgium, japan',
       'austria, united states', 'canada, australia',
       'greece, united states',
       'united kingdom, france, belgium, canada, united states',
       'argentina, chile', 'czech republic, slovakia',
       'united kingdom, germany, united states, france',
       'united kingdom, lithuania', 'egypt, france',
       'spain, france, canada', 'united states, greece, united kingdom',
       'united kingdom, china, united states, india', 'taiwan, malaysia',
       'united states, sweden, norway',
       'united kingdom, united states, morocco',
       'united states, united kingdom, morocco',
       'united states, china, canada', 'spain, canada, united states',
       'canada, belgium', 'united states, india, united arab emirates',
       'united kingdom, canada, france, united states',
       'spain, thailand, united states', 'canada, germany, south africa',
       'india, germany, france',
       'united states, israel, united kingdom, canada',
       'united kingdom, hungary, australia', 'lebanon, france',

In [42]:
# filter only from country Japan
df_netflix_japan = df_netflix[df_netflix['Country'] == 'japan']
df_netflix_japan

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
24,s25,TV Show,‚ÄãSAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",japan,"January 23, 2020",TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
107,s108,Movie,37 Seconds,Hikari,"Mei Kayama, Misuzu Kanno, Shunsuke Daitoh, Mak...",japan,"January 31, 2020",TV-MA,116 min,"Dramas, International Movies","Trapped by society and familial obligations, a..."
228,s229,Movie,A Silent Voice,Naoko Yamada,"Miyu Irino, Saori Hayami, Aoi Yuki, Kensho Ono...",japan,"June 5, 2019",TV-14,130 min,"Anime Features, International Movies",A former class bully reaches out to the deaf g...
253,s254,Movie,A Whisker Away,"Junichi Sato, Tomotaka Shibayama","Mirai Shida, Natsuki Hanae, Hiroaki Ogi, Koich...",japan,"June 18, 2020",TV-PG,104 min,"Anime Features, Children & Family Movies, Inte...",A peculiar girl transforms into a cat to catch...
260,s261,TV Show,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",japan,"March 9, 2018",TV-14,1 Season,"Anime Series, International TV Shows",Everything Aiko knew was a lie. Now she's join...
...,...,...,...,...,...,...,...,...,...,...,...
7425,s7424,TV Show,Violet Evergarden,NaN,"Yui Ishikawa, Takehito Koyasu, Daisuke Namikaw...",japan,"February 5, 2019",TV-14,1 Season,"Anime Series, International TV Shows, Romantic...","The war is over, and Violet Evergarden needs a..."
7426,s7425,Movie,Violet Evergarden: Eternity and the Auto Memor...,Haruka Fujita,"Yui Ishikawa, Minako Kotobuki, Aoi Yuki",japan,"April 2, 2020",TV-PG,91 min,"Anime Features, International Movies, Sci-Fi &...",A lonely young woman feels trapped at her all ...
7742,s7741,TV Show,Your lie in April,NaN,"Natsuki Hanae, Risa Taneda, Ayane Sakura, Ryot...",japan,"March 1, 2016",TV-14,1 Season,"Anime Series, International TV Shows, Romantic...","After his mother's death, a piano prodigy's wi..."
7751,s7750,TV Show,Yu-Gi-Oh!,NaN,"Dan Green, Eric Stuart, Amy Birnbaum, Darren D...",japan,"July 8, 2020",TV-Y7,2 Seasons,"Anime Series, Kids' TV",The lives of young Yugi Moto and his friends J...
7777,s7776,TV Show,Zoids Wild,NaN,"Kensho Ono, Takahiro Sakurai, Mikako Komatsu, ...",japan,"August 14, 2020",TV-Y7,1 Season,"Anime Series, Kids' TV",A quest for freedom and legendary treasure beg...

In [43]:
# Normalize the type column 
df_netflix_japan.loc[:, 'Type'] = df_netflix_japan['Type'].str.strip().str.lower()

# retain only which contains "anime" keyword
df_netflix_anime = df_netflix_japan[df_netflix_japan['Type'].str.contains('anime')]
df_netflix_anime

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
24,s25,TV Show,‚ÄãSAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",japan,"January 23, 2020",TV-14,2 Seasons,"anime series, international tv shows",Seiya and the Knights of the Zodiac rise again...
228,s229,Movie,A Silent Voice,Naoko Yamada,"Miyu Irino, Saori Hayami, Aoi Yuki, Kensho Ono...",japan,"June 5, 2019",TV-14,130 min,"anime features, international movies",A former class bully reaches out to the deaf g...
253,s254,Movie,A Whisker Away,"Junichi Sato, Tomotaka Shibayama","Mirai Shida, Natsuki Hanae, Hiroaki Ogi, Koich...",japan,"June 18, 2020",TV-PG,104 min,"anime features, children & family movies, inte...",A peculiar girl transforms into a cat to catch...
260,s261,TV Show,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",japan,"March 9, 2018",TV-14,1 Season,"anime series, international tv shows",Everything Aiko knew was a lie. Now she's join...
341,s342,TV Show,Aggretsuko,NaN,"Kaolip, Komegumi Koiwasaki, Maki Tsuruta, Soht...",japan,"August 27, 2020",TV-14,3 Seasons,"anime series, international tv shows","Frustrated with her thankless office job, Rets..."
...,...,...,...,...,...,...,...,...,...,...,...
7425,s7424,TV Show,Violet Evergarden,NaN,"Yui Ishikawa, Takehito Koyasu, Daisuke Namikaw...",japan,"February 5, 2019",TV-14,1 Season,"anime series, international tv shows, romantic...","The war is over, and Violet Evergarden needs a..."
7426,s7425,Movie,Violet Evergarden: Eternity and the Auto Memor...,Haruka Fujita,"Yui Ishikawa, Minako Kotobuki, Aoi Yuki",japan,"April 2, 2020",TV-PG,91 min,"anime features, international movies, sci-fi &...",A lonely young woman feels trapped at her all ...
7742,s7741,TV Show,Your lie in April,NaN,"Natsuki Hanae, Risa Taneda, Ayane Sakura, Ryot...",japan,"March 1, 2016",TV-14,1 Season,"anime series, international tv shows, romantic...","After his mother's death, a piano prodigy's wi..."
7751,s7750,TV Show,Yu-Gi-Oh!,NaN,"Dan Green, Eric Stuart, Amy Birnbaum, Darren D...",japan,"July 8, 2020",TV-Y7,2 Seasons,"anime series, kids' tv",The lives of young Yugi Moto and his friends J...
7777,s7776,TV Show,Zoids Wild,NaN,"Kensho Ono, Takahiro Sakurai, Mikako Komatsu, ...",japan,"August 14, 2020",TV-Y7,1 Season,"anime series, kids' tv",A quest for freedom and legendary treasure beg...

In [44]:
df_netflix_anime.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

Because this open source dataset does not contain any data of watching count so that only the Title is useful

In [45]:
df_netflix_anime.loc[:, 'Title'] = df_netflix_anime['Title'].str.strip()

In [46]:
netflix_anime_list = list(df_netflix_anime['Title'].values)
netflix_anime_list[:10]

['\u200bSAINT SEIYA: Knights of the Zodiac',
 'A Silent Voice',
 'A Whisker Away',
 'A.I.C.O.',
 'Aggretsuko',
 'AJIN: Demi-Human',
 'Akame ga Kill!',
 'Angel Beats!',
 'Anohana: The Flower We Saw That Day',
 'ÂøçËÄÖ„Éè„ÉÉ„Éà„É™„Åè„Çì']

## Compare most watched anime on Unofficial Website to Netflix

In [47]:
unof_anime_list = list(df_unoff_anime['Anime'].values)
unof_anime_list[:10]

['One Piece',
 'Black Clover',
 'Detective Conan',
 'Jujutsu Kaisen 2nd SS',
 'Bleach',
 'Demon Slayer - Swordsmith village Arc',
 'Demon Slayer - Hashira Training Arc',
 'The Eminence in Shadow',
 'Soul Land - Douluo Dalu',
 'Tsuchimiki: M√¥nlit Fantasy']

In [48]:
# Compare
set(unof_anime_list) & set(netflix_anime_list)

{'Bleach', 'Fairy Tail'}

Our analysis indicates that only two of the top trending anime series in 2024 (based on the collected view counts) are currently licensed for streaming on Netflix. This significant gap in content acquisition suggests that the majority of frequently watched anime titles are unavailable on the platform. Consequently, this <b>lack of in-demand, locally trending content drastically reduces the platform's overall attraction for avid anime consumers, posing a direct threat to subscriber retention and growth in the Vietnamese market</b>.